:root{
    --darkgray:#212329;
    --choclate:#cfc31e;
    --white:#fff;
    --cron:#e6e3e3;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
    display: grid;
    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
}
header{
    margin-top: 4.1%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    top: 0px;
    background:var(--darkgray);
    min-height: 10vh;
}

nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 50px;
    height: 50px;
    background-size: 50%;
    border-radius:50%;
    background-repeat: no-repeat;
    background-position:top;
}
nav ul {
    font-size: 1rem;
    flex: 0.5;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

a:hover{
    color: var(--choclate);
}
li:hover{
    border-bottom: 3px solid #cfc31e;
}
.content  {
    color: var(--darkgray);
    width: 100%;
    height: 100%;
}

.load {
    animation: slide 1s infinite;
}

.slider{
    margin-top: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 100vh;
    animation: slide 10s infinite;
}
.principal{
    left: 90%;
    top: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
    height: 100vh;

}
.principal h1 {
    font-size: 5rem;
    color: var(--darkgray);
    position: relative;
}
p {
    padding-top: 100px;
    align-items: center;
}

.box {
    width: 50% ;
    height: 7%;
    background-color: var(--cron);
    position: absolute;
    bottom: 93%;
    left: 50%;
    border-radius: 20px 40px ;
    color: var(--white);
}

.box h2 {
    color: var(--darkgray);
    text-align: center;
    position: relative;
    top:40%;
}
.slider {
    position: absolute;
}
.slider{
    position: relative;
    bottom: 20rem;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px 40px 4px;
    width: 100%;
    height: 100vh;
    animation: slide 40s infinite;
}

.inner {
    width: 100%;
    height: 100vh;
    padding: 1%;
    background-position: center;
    background-size:cover;
    border-radius: 0 0 0 50px  ; 
}

@keyframes slide {
    0%{
        background-image: url(img/photo1.jpg);
    }
    10.5%{
        background-image: url(img/photo2.jpg);
    }
    20%{
        background-image: url(img/photo3.jpg);
    }
    30.5%{
        background-image: url(img/photo4.jpg);
    }
    40%{
        background-image: url(img/image2.jpg);
    }
}
/*about us*/
    section{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section h1{
        font-size: 50px;
        margin-left: 50px;
        color: var(--choclate);
    }
    .container{
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content{
        margin-top: 100px;
        color: var(--white);
    }
    .left{
    width: 50%;
    height: 600px;
    background:url(img/undraw_creation_rd0e.png)no-repeat center/cover;
    border-radius: 8px;
    }
    .right {
        width: 50%;
        min-height: 400px;
        background-color: var(--darkgray);
        display: flex;
        justify-content: center;
        padding: 30px;
        border-radius: 8px;
        color: var(--white);
    }
    .right h2{
        font-size: 40px;
        font-weight: lighter;
    }
    .right p{
        margin: 20px 0;
        font-weight: 500;
        line-height: 25px;
    }
    .right a{
        text-decoration: none;
        text-transform: uppercase;
        background-color: white;
        color: black;
        padding: 20px 30px;
        display: inline-block;
        letter-spacing: 2px;
    }
/*project area*/
.gallery {
    width:50%;
    height: 50%;
    border: 4px solid gray;
    margin-left: 200px;
}
section{
    display: flex;
    height: 30vh;
}
.room-descripaction{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.room-descripaction h1 {
    padding-bottom: 200px;
}


.room-descripaction h3{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkgray);
    width: 50% 50;
    height: 60%;
    border-radius: 20px 40px;
}

h3 {
    margin-left: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: var(--white);
} 
.room-pre{
    display: flex;
    padding-left: 200px;
    width: 70%;
}
.room-pre img{
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
}
/*card gallery*/
.card-gallery{
    width: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:unset;
    flex-wrap: wrap;
    padding-top: 100%;
    top: 700px;
    right: 80%;
}
#card{
    left:550px;
}
#card1{
    left:550px;
}
#card2{
    left:300px;
}
#card3{
    left:800px;
    bottom:480px;
}
.h1 {
    position: absolute;
    margin-top: 60%;
}
.card-gallery .card .content{
    align-items: center;
    margin: 0 auto;
    left: 2px;
}
.card-gallery .card{
    position: relative;
    max-width: 600px;
    height: 400px;
    background: #fff;
    margin: 40px 20px;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.card-gallery .card .imgbx{
    position: relative;
    width: 300px;
    height: 300px;
    top: -60px;
    left: 2px;
}


.card-gallery .card .imgbx img {
    max-width: 100%;
    border-radius: 4px;
}


/*footer*/
.footer-container {
    background-color: #212329;
    padding-bottom: 5rem  5rem 0;
    margin-top: 2000px;
}

.footer {
    width: 100%;
    height: 50vh;
    padding-top: 5rem;
    background-color: #212329;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    font-size: 30px;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color:var(--choclate);
    transition: 0.3s ease-in-out;

}

.footer-email-form h2 {
    margin-bottom: 2rem;
    margin-top: 6rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem; 
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9423d;
    font-size: 1rem;
    outline: none;
    border: none;
    color: #fff;
}
#footer-email-btn:hover {
    cursor: pointer;
    background-color: skyblue;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 768px){
    nav {
        position:relative;
        width:100%;
    }
    

    nav ul   {
        display: grid;
        grid-template-columns: auto;
        background: var(--darkgray);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        right:80px;
        /*left: -100%;
        opacity: 0;*/
        transition: all 0.5s ease;
    }

    nav ul li a {
        position: relative;
        left:20em;
        text-align: center;
        line-height: 60px;
        display: table;
    }

    nav ul li a :hover{
        background: var(--choclate);
        transition: all 0.5s ease-out;
    }

    nav img {
        margin-left:20px;
    }

    nav-menu.active{
        background: var(--darkgray);
        left: 0;
        opacity: 0;
        transition: all 0.5s ease;
    }


}